body {font-family:Arial, Sans-Serif;}
.form{width: 300px; margin: 0 auto; text-align: center; background-color: #9EF0AC; border-radius: 10px; padding: 20px; margin-top: 80px;}
.nav{width: 100%; background-color: #9EF0AC; height: auto; padding: 2px;}
.nav2{width: 80%; margin: 0 auto; text-align: center; background-color: #9EF0AC; border-radius: 10px; height: auto; margin-top: 40px; padding-bottom: 7px;}
input[type='text'], input[type='email'], input[type='password'] {width: 200px; border-radius: 2px;border: 1px solid #CCC; padding: 10px; color: #333; font-size: 14px; margin-top: 10px;}
input[type='submit']{padding: 10px 25px 8px; color: #fff; background-color: #0067ab; text-shadow: rgba(0,0,0,0.24) 0 1px 0; font-size: 16px; box-shadow: rgba(255,255,255,0.24) 0 2px 0 0 inset,#fff 0 1px 0 0; border: 1px solid #0164a5; border-radius: 2px; margin-top: 10px; cursor:pointer;}
input[type='submit']:hover {background-color: #024978;}
table {width: 100%; border-collapse: collapse; text-align: center;}
th, td {border-bottom: 1px solid #000000; text-align: center;}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}